<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Coleccionables</title>
</head>

<body>
    <!--Encabezado-->
    <header>
        <div class="bg-gradient-to-r from-cyan-500 to-lime-500 m-6 p-2 rounded-xl p-3">
            <h1 class="text-6xl font-sans text-black text-center" id="Titulo" name="Titulo">Tienda de coleccionables</h1>
            <nav class="flex justify-center space-x-2">
                <a class="font-mediu px-3 py-2 text-slate-700 rounded-lg"><%= username %></a>
                <a href="/coleccionables" class="font-mediu px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Coleccionables</a>
                <a href="/coleccionables/add" class="font-mediu px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Registrar</a>
                <a href="/coleccionables/pregunta" class="font-mediu px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Preguntas</a>
            </nav>
        </div>
    </header>

    <!--Parte central de la página-->
    <main>