<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Coleccionables</title>
</head>
<body>
    <!--Encabezado-->
    <header>
        <div class="bg-gradient-to-r from-indigo-500 to-purple-500 m-6 p-2 rounded-xl p-3">
            <h1 class="text-6xl font-sans text-black text-center" id="Titulo" name="Titulo">Preguntas de Laboratorio</h1>
        </div>
    </header>
    <main>
        <div class="bg-gray-600 m-6 p-4 rounded-xl">
            <p class="text-2xl font-sans text-white">¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?</p>
            <br>
            <p class="text-1xl font-sans text-white">AJAX reduce significativamente el tiempo de respuesta de la página
                haciendo que la interacción se asemeje más a una aplicación de escritorio. Es decir, con esta
                metodología se pueden crear aplicaciones web más fluidas cuando se requiere.
            </p>
            <br>
            <p class="text-2xl font-sans text-white">
                ¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, 
                del lado del cliente o del lado del servidor?
            </p>
            <br>
            <p class="text-1xl font-sans text-white">
                Las validaciones de seguridad deben realizarse principalmente en el lado del servidor, ya que por el lado del 
                cliente cualquier código en el navegador puede ser manipulado por un atacante, lo cual lo vuelve más inseguro.
            </p>
            <br>
            <p class="text-2xl font-sans text-white">¿Qué es JSON?</p>
            <br>
            <p class="text-1xl font-sans text-white">
                JSON (JavaScript Object Notation) es un formato de intercambio de datos ligero y legible por humanos 
                que se utiliza comúnmente para transmitir datos entre un servidor y un cliente, o entre diferentes 
                partes de una aplicación. JSON se ha convertido en un estándar de facto para el intercambio de datos 
                en aplicaciones web y se utiliza en una variedad de contextos, incluyendo servicios web, aplicaciones 
                móviles y más.
            </p>
        </div>

    <%- include('../includes/foot.ejs') %>
