<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Coleccionables</title>
</head>
<body>
    <!--Encabezado-->
    <header>
        <div class="bg-gradient-to-r from-indigo-500 to-purple-500 m-6 p-2 rounded-xl p-3">
            <h1 class="text-6xl font-sans text-black text-center" id="Titulo" name="Titulo">Preguntas de Laboratorio</h1>
        </div>
    </header>
    <main>
        <div class="bg-gray-600 m-6 p-4 rounded-xl">
            <p class="text-2xl font-sans text-white">Describe el archivo package.json.</p>
            <br>
            <p class="text-1xl font-sans text-white">El archivo package.json contiene todos los metadatos 
                acerca del proyecto tal como descripción, licencia, dependencias y scripts. Sus principales propiedades
                son:
            </p>
            <ul class="list-disc font-sans text-white p-4">
                <li>name (nombre)</li>
                <li>version number (version)</li>
                <li>dependencies (dependencias)</li>
                <li>license (licencia)</li>
                <li>scripts (comandos)</li>
            </ul>
            <p class="text-2xl font-sans text-white">Referencia</p>
            <br>
            <p class="text-1xl font-sans text-white">Losapuntesde. (2023, 1 septiembre). Package.Json en 
                Node.js: Configurando tu proyecto. Apuntes de Programador. 
                https://apuntes.de/nodejs-desarrollo-web/package-json/#gsc.tab=0
            </p>
        </div>
    </main>
    <!--Pie de página-->
    <footer>
        <div class="bg-gray-900 m-6 p-2 rounded-xl p-3">
            <p class="text-center text-1xl font-sans text-white">Editor html utilizado en esta página web: Visual Studio Code</p>
            <p class="text-center text-1xl font-sans text-white">Enlace al sitio del editor: <a href="https://code.visualstudio.com/">https://code.visualstudio.com/</a></p>
            <br>
            <p class="text-center text-1xl font-sans text-white">Framework de estilo utilizado: Tailwind CSS</p>
            <p class="text-center text-1xl font-sans text-white">Enlace al sitio del framework de estilo: https://tailwindcss.com/</p>
        </div>
    </footer>
</body>
</html>