<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Coleccionables</title>
</head>
<body>
    <!--Encabezado-->
    <header>
        <div class="bg-gradient-to-r from-indigo-500 to-purple-500 m-6 p-2 rounded-xl p-3">
            <h1 class="text-6xl font-sans text-black text-center" id="Titulo" name="Titulo">Preguntas de Laboratorio</h1>
        </div>
    </header>
    <main>
        <div class="bg-gray-600 m-6 p-4 rounded-xl">
            <p class="text-2xl font-sans text-white">¿En qué consiste el control de acceso basado en roles?</p>
            <br>
            <p class="text-1xl font-sans text-white">El RBAC te permite especificar a través de roles y privilegios
                lo que van a poder hacer los usuarios en tu plataforma. Es decir, dependiendo el rol y los privilegios
                que tenga, tendrá acceso a ciertas secciones, pero no a las que no tiene el permiso. De esta manera, 
                diferentes usuarios pueden usar tu sistema, pero lo que pueden hacer dentro de él, queda límitado a
                este modelo.
            </p>
            <br>
            <p class="text-2xl font-sans text-white">
                Investiguen y describan 2 sistemas, uno que aplique RBAC y uno que no. Realicen un análisis de las 
                ventajas y desventajas de cada uno con respecto al control de acceso.
            </p>
            <br>
            <p class="text-1xl font-sans text-white">
                Solo los sistemas pequeños o aquellos que están hechos específicamente para un solo tipo de usuario, 
                no utilizan RBAC, pues no hace falta identificar una jerarquía de estos. Por ejemplo: una calculadora.
                La ventaja de esto es que está dirigido a un solo tipo de usuario y la complejidad de la programación
                no se extiende a diferentes vistas entre usuarios
            </p>
            <br>
            <p class="text-1xl font-sans text-white">
                Por otro lado, un ejemplo de sistema de RBAC es Google docs, ya que dependiendo de si eres editor o lector
                del documento en cuestión, cambia lo que puedes ver y hacer en la página. La ventaja de esto es que puedes
                implementar una mayor seguridad restringiendo el acceso de ciertos usuarios a ciertas funciones.
            </p>
            <br>
            <p class="text-2xl font-sans text-white">Referencia</p>
            <br>
            <p class="text-1xl font-sans text-white">
                Equipo editorial de IONOS. (2020). Role Based Access Control (RBAC): 
                ¿Cómo funciona el control de acceso basado en roles? IONOS Digital Guide. 
                https://www.ionos.mx/digitalguide/servidores/seguridad/que-es-el-role-based-access-control-rbac/
            </p>
        </div>

    <%- include('../includes/foot.ejs') %>
