<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Coleccionables</title>
</head>
<body>
    <!--Encabezado-->
    <header>
        <div class="bg-gradient-to-r from-indigo-500 to-purple-500 m-6 p-2 rounded-xl p-3">
            <h1 class="text-6xl font-sans text-black text-center" id="Titulo" name="Titulo">Preguntas de Laboratorio</h1>
        </div>
    </header>
    <main>
        <div class="bg-gray-600 m-6 p-4 rounded-xl">
            <p class="text-2xl font-sans text-white">¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</p>
            <br>
            <p class="text-1xl font-sans text-white">Ya que la capa del modelo se encarga de hacer el procesamiento de datos, 
                es lógico que implementemos las consultas de sql ahí para obtener información de la bd. De esta manera también
                puedes tener más orden y saber que el código sql estará ahí.
            </p>
            <br>
            <p class="text-2xl font-sans text-white">¿Qué es SQL injection y cómo se puede prevenir?</p>
            <br>
            <p class="text-1xl font-sans text-white">SQL injection es cuando un usuario malintencionado introduce código de sql
                en una forma donde usualmente debe ir texto (como un nombre en un registro) y de esta manera puede ejecutar
                operaciones en la base de datos sin autorización. En este caso, nosotros lo prevenimos con los signos de
                interrogación (?, ?, ?) ya que de esta manera, cualquier cosa que se ponga se guardará como un valor (por 
                ejemplo: string) y no se ejecutará como código de sql como tal.
            </p>
        </div>

    <%- include('../includes/foot.ejs') %>
