<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Coleccionables</title>
</head>
<body>
    <!--Encabezado-->
    <header>
        <div class="bg-gradient-to-r from-indigo-500 to-purple-500 m-6 p-2 rounded-xl p-3">
            <h1 class="text-6xl font-sans text-black text-center" id="Titulo" name="Titulo">Preguntas de Laboratorio</h1>
        </div>
    </header>
    <main>
        <div class="bg-gray-600 m-6 p-4 rounded-xl">
            <p class="text-2xl font-sans text-white">¿Qué otros templating engines existen para node?</p>
            <br>
            <p class="text-1xl font-sans text-white">Template engine es una implementación de software que nos 
                permite mezclar datos con una plantilla con el fin de generar un documento que será renderizado en 
                el navegador. Algunos de los template engines más conocidos son:
            </p>
            <ul class="list-disc font-sans text-white p-4">
                <li>Handlebars (para JavaScript)</li>
                <li>Twig y Blade (para Laravel / PHP)</li>
                <li>dependencies (dependencias)</li>
                <li>JSP (para Java)</li>
                <li>Ninja (de Python).</li>
            </ul>
            <p class="text-2xl font-sans text-white">Referencia</p>
            <br>
            <p class="text-1xl font-sans text-white">https://platzi.com/clases/1437-express-js/15702-que-es-y-como-crear-tu-propio-template-engine/
            </p>
        </div>
    </main>
    <!--Pie de página-->
    <footer>
        <div class="bg-gray-900 m-6 p-2 rounded-xl p-3">
            <p class="text-center text-1xl font-sans text-white">Editor html utilizado en esta página web: Visual Studio Code</p>
            <p class="text-center text-1xl font-sans text-white">Enlace al sitio del editor: <a href="https://code.visualstudio.com/">https://code.visualstudio.com/</a></p>
            <br>
            <p class="text-center text-1xl font-sans text-white">Framework de estilo utilizado: Tailwind CSS</p>
            <p class="text-center text-1xl font-sans text-white">Enlace al sitio del framework de estilo: https://tailwindcss.com/</p>
        </div>
    </footer>
</body>
</html>