<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Coleccionables</title>
</head>
<body>
    <!--Encabezado-->
    <header>
        <div class="bg-gradient-to-r from-indigo-500 to-purple-500 m-6 p-2 rounded-xl p-3">
            <h1 class="text-6xl font-sans text-black text-center" id="Titulo" name="Titulo">Preguntas de Laboratorio</h1>
        </div>
    </header>
    <main>
        <div class="bg-gray-600 m-6 p-4 rounded-xl">
            <p class="text-2xl font-sans text-white">¿Qué beneficios encuentras en el estilo MVC?</p>
            <br>
            <p class="text-1xl font-sans text-white">El estilo MVC te permite tener organización en los diferentes
                archivos que conforman tu aplicación. Básicamente estamos transformando el código "espagueti" en
                lasaña. Cada módulo de MVC tiene su propia función y al estar dividio en diferentes partes de código
                es fácil darle mantenimiento pues sabes exactamente en qué sección debes hacer los cambios.
            </p>
            <br>
            <p class="text-2xl font-sans text-white">¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</p>
            <br>
            <p class="text-1xl font-sans text-white">La única desventaja que podría considerar es que si crece demasiado
                tu aplicación tal vez podrías llegar a perderte entre tantos archivos y por lo mismo para crear una función
                necesitas editar o crear archivos en carpetas distintas. Tal vez esa cantidad de saltos puede hacer que te
                pierdas o que resulte tedioso.
            </p>
        </div>

    <%- include('../includes/foot.ejs') %>
