<%- include('../includes/head.ejs') %>

<h1 class="text-6xl font-sans text-black text-center" id="Titulo" name="Titulo">Registra tu usuario</h1>

<% if(error) { %>
    <article class="bg-red-200 m-6 p-4 mx-96 rounded-xl text-center">
        <div>
            <p>Oops... Hubo un error.</p>
        </div>
        <div>
            <strong><%= error.sqlMessage %></strong>.
        </div>
    </article>
<% } %>

<div class="bg-gray-400 m-6 p-4 mx-96 rounded-xl text-center">
    <form action="/users/add" method="POST">
        <label for="nombre">Nombre completo:</label>
        <br>
        <input id="nombre" name="nombre" class="input" type="text" placeholder="Iván Ricardo Paredes Avilez">
        <br>
        <br>
        <label for="username">Nombre de usuario:</label>
        <br>
        <input id="username" name="username" class="input" type="text" placeholder="Ivan28">
        <br>
        <br>
        <label for="password">Password:</label>
        <br>
        <input id="password" name="password" class="input" type="password" placeholder="********">
        <br>
        <br>
        <button id="entrar" name="entrar" type="submit" value="Entrar" class="bg-purple-500 hover:bg-red-500 w-48 h-12 rounded-full">
            Entrar
        </button>
    </form>
</div>

<%- include('../includes/foot.ejs') %>